<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @vehicle_year.year %>
</p>

<%= link_to 'Edit', edit_vehicle_year_path(@vehicle_year) %> |
<%= link_to 'Back', vehicle_years_path %>
